/* "global variable" */
:root{
    --text: #ffffff;
    --over: #0f162b;
    --details: #080316;
    --head: #FFFFFF;
    --back: #121212;
    --hist: #152028;
    --test: #f1f1f1;
}

body{
    background: var(--back);
}

.parent-dark{
    background: #152028;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* "flex" */
.parent{
    background: #8a8a8a;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header{
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    color: var(--head);
}
.header>input[type="button"]{
    position: absolute;
    background-color: lightgray;
    color: #000000;
    top: 10px;
    right: 3px;
}

.details{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 98vw;
}

.details-1{
    display: flex;
    flex-direction: row;
}

.details-2{
    display: flex;
    flex-direction: row;
}

.details-3{
    display: flex;
    flex-direction: row;
}

.distance{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--details);
    color: var(--text);
    border-left: 0;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 50%;
}

/* "at least two pseudo classes" 1/4 */
.distance:hover{
    background-color: var(--over);
}

.volume{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--details);
    color: var(--text);
    border-left: 0;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 50%;
}

/* "at least two pseudo classes" 2/4 */
.volume:hover{
    background-color: var(--over);
}

.mass{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--details);
    color: var(--text);
    border-left: 0;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 50%;
}

/* "at least two pseudo classes" 3/4 */
.mass:hover{
    background-color: var(--over);
}

.time{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--details);
    color: var(--text);
    border-left: 0;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 50%;
}

/* "at least two pseudo classes" 4/4 */
.time:hover{
    background-color: var(--over);
}

.temperature{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--details);
    color: var(--text);
    border-left: 0;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 50%;
}

.temperature:hover{
    background-color: var(--over);
}

.currency{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--details);
    color: var(--text);
    border-left: 0;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 50%;
}

.currency:hover{
    background-color: var(--over);
}

/* "custom attribute (data-)" */
[data-font="lucida"]{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* "cursor effect" */
[data-text="output"]{
    cursor: not-allowed;
}

/* "transparency control" */
input[type="button"]{
    background-color: transparent;
    color: var(--text);
}

input[type="button"]:hover{
    cursor: pointer;
}

input[id="submit"]{
    background-color: var(--details);
}

/* "shaped made by border radius setting" (Extra round for that extra vintage look) */
input{
    border-radius: 50%;
    text-align: center;
}

select{
    border-radius: 50%;
}

/* "parent-child classes" */
.history>textarea{
    background-color: var(--details);
    color: var(--text);
    resize: none;
    overflow-y: scroll;
    width: 400px;
    height: 300px;
    margin: 10px;
}

.history>input[type="button"]{
    background-color: transparent;
    color: var(--text);
    margin: 10px;
}

.history>h{
    color: var(--head);
}

.history{
    background: var(--hist);
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 8px;
    bottom: 8px;
}